/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
.card-style-3 {
    display: flex;
    flex-direction: column;
    width:350px;
    background-color: rgb(248, 236, 9);
    padding: 16px;
    margin: 16px;
    border: 18px solid gold;
    border-radius: 16px;
}
.pokemon-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

.card-style-3 h2 {
    margin: 0px
}

.card-style-3 img {
    width: 100%;
    border: 5px solid #daa520; 
}

.card-style-3 .details {
    background-color: goldenrod;
    font-size: 11px;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    margin-top: 4px;
}
.pokemon-header .health {
    font-size: 18px;
    font-weight: 400;
}
.attack .description {
    /* flex:1; */
    flex-direction: column;
}

.attack {
    display: flex;
    flex: 1;
    border-bottom: 2px solid black;
    align-items: center;
    margin: 8px 0px;
    padding: 8px 0px 16px;
    justify-content: space-between;
}
.attack .description{
    margin: 0px 4px;
    font-size: 14px;
}
.attack .energy {
    font-size: 18px;
    display: flex;

}
.attack .description .bold {
    font-weight: bold;
    font-size: 18px;
}
.attack .power {
    font-size: 24px;
    font-weight: bold;

}
.data {
    font-size: 11px;
    font-weight: bold;
    border: 2px solid #daa520;
    padding: 2px 8px;
}