@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&family=Indie+Flower&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#navbar-1 {
    display: flex;
    background:linear-gradient(-20deg, darkgoldenrod, brown);
    padding:24px;
    justify-content:center;
    gap: 64px;
    position:sticky;
    top: 0px;
}
#navbar-1 #logo-1 {
    font-size: 18px;
    font-weight: bold;
    /* margin-right: auto; */
    color: antiquewhite;
}
#navbar-1 a {
    margin: 0px 16px;
    text-decoration: none;
    color: beige;
    font-weight: bold;
}

#navbar-2 {
    font-family: 'Indie Flower';
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(3, 94, 3);
    display: flex;
    padding: 24px;
    position: sticky;
    top: 0px;
}
#navbar-2 #logo-2 {
    letter-spacing: 2;
    font-weight: 2000;
    color: white;
    margin-left: 48px;
    margin-right: auto;
    align-items: center;
    color: gold;
}
#navbar-2 a {
    margin: 0px 12px 0px 12px;
    text-decoration: none;
    color: white;
    margin-right: 24px;
}

#navbar-2 #sub-but {
    background-color: black;
    padding: 4px 16px;
    border-radius: 32px;
    margin-right: 48px;
    transition-duration: 0.4s;
    display: block;
}
#navbar-2 #sub-but:hover {
    background-color: white;
    color: rgb(3, 94, 3);
}
#navbar-3 #top-nav {
    background-color:rgb(78, 3, 87);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding:8px;
    color: #333333;
    color: gold;
}

#navbar-3 #mid-nav {
    display: flex;
    justify-content: space-around;
    padding: 8px 48px;
    background-color: orange;
    border-bottom: solid 2px  #6f009e;
}

#navbar-3 #mid-nav a {
    text-decoration: none;
    font-weight: bold;
    color: #242424;
    padding: 0px 8px;
}
#navbar-3 #mid-nav a:hover {
    color: #6f009e;
    transition: 0.1s;
}
#navbar-3 #bottom-nav {
    display: flex;
    justify-content: space-between;
    background-color: orange;
    padding: 8px 48px;
}
#navbar-3 #bottom-nav a {
   text-decoration: none;
   color: #333333;
   transition: 0.1s;
}
#navbar-3 #bottom-nav a:hover{
    text-decoration: none;
    color: white;
 }
     
    