* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#hero-1 {
    background-image: url(../images/ian-schneider-jk8rarn6lmw-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    background-position: bottom center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero-1 .hero-content {
    position: absolute;
    left: 40%;
    top: 10%;
    text-align: center;
}
#hero-1 .hero-content h1 {
    font-weight: bold;
    font-size: 48px;
    margin: 0px;

}
#hero-1 .hero-content h3 {
    font-weight: bold;
    font-size: 24px;
    margin: 32px;
}
#hero-1 .hero-content a {
    text-decoration: none;
    color: aliceblue;
    background-color: #333333;
    padding: 12px;
    border-radius: 8px;
}
#hero-2 {
    background-image: url(../images/nils-nedel-ONpGBpns3cs-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}
#hero-2 .hero-content {
    position: absolute;
    right: 25%;
    bottom: 50%;
    /* text-align: center; */
    border-bottom: solid 6px white;
    padding-bottom: 32px;

}
#hero-2 .hero-content h1 {
    font-weight: bold;
    font-size: 48px;
    margin: 0px;
    color: #000000;

}
#hero-2 .hero-content h3 {
    font-weight: bold;
    font-size: 24px;
    margin-top: 12px;
}
#hero-2 .hero-content a {
    text-decoration: none;
    color: aliceblue;
    background-color: #0f1ae2;
    padding: 12px;
    border-radius: 8px;
}
#hero-3 {
    background-image: url(../images/thomas-ashlock-RAjND0B3HDw-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}
#hero-3 .hero-content {
    position: absolute;
    left: 18%;
    top: 22%;
    /* text-align: center; */
    padding-bottom: 32px;

}
#hero-3 .hero-content h1 {
    font-weight: bold;
    font-size: 48px;
    margin: 0px;
    color: #ffffff;

}
#hero-3 .hero-content h3 {
    font-weight: bold;
    font-size: 24px;
    margin-top: 12px;
    color: white;
}
#hero-3 .hero-content a {
    text-decoration: none;
    color: rgb(2, 49, 13);
    background-color: #ffffff;
    padding: 12px;
    font-weight: bold;
    border-radius: 8px;
}