* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

div {
    margin: 20px 30px 50px;
    padding: 12px;
    border-bottom: 12px ridge rgb(135, 43, 234);
    border-right: 12px dashed rgb(135, 43, 234) ;
    border-radius: 24px;
    background-color: rgb(118, 249, 146);
    display: inline-block;
    width: 300px;
}
p {
    /* this is a comment */
    border: 16px solid rgb(252, 7, 7);
    background-color: rgb(240, 226, 96);
    width: 300px;
    padding: 24px;
    border-radius: 8px;
    margin: 24px;
}