* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
.two-columns {
    display: flex;
}
#side-bar {
    flex: 1;
    background-color: antiquewhite;
    max-width: 300px;
    padding: 24px;
    
}
#main-content {
    flex: 2;
    padding: 64px;
}
h1 {
    border-bottom: dashed 4px #711010;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
    border-bottom: solid 2px #333333;
    padding: 16px 0px 4px 0px;
}
h3 {
    color: #808080;
    font-size: 20px;
}

p {
    /* padding-bottom: 16px; */
}
#contents {
    background-color: cadetblue;
    color: rgb(255, 255, 255);
    padding: 4px;
    text-align: center;
}
li {
    list-style-type: none;
    padding: 2px;
}
li a {
    text-decoration: none;
    color: #333333;
    padding: 0px 8px;
}
.small-flex {
    display: flex;
}
.word-flex {
    flex: 4;
    min-width: 400px;
}
.image-flex {
    flex: 1;
    padding: 24px;
}
.image-flex img {
    padding-top: 32px;
    
}
