/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

.card-style-1 {
    margin: 16px;
    max-width: 350px;
    background-color: rgb(230, 251, 238);
    box-shadow:  4px 4px 8px #00000088;

}

.card-style-1 img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}
.card-style-1 h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.card-style-1 p {
    margin: 12px 24px;
}
.card-style-1 a {
    background-color:  rgb(51, 131, 46);
    color: rgb(232, 255, 243);
    text-decoration: none;
    font-size: 20px;
    display: block;
    text-align: center;
    padding: 24px;
    transition: opacity 0.5s;
}

.card-style-1 a:hover {
    opacity: 0.9;
}