* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#grid-layout {
    display: grid;
    grid-template-columns: 50% 50%;
}
#sidebar-content {
    background-color:bisque;
}
#main-content {
    background-color: aquamarine;
}