* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#navbar {
    text-align: center;
    padding:24px;
    background-color: blue;
}
#navbar a {
    color:white;
    padding:12px
}
p a {
    text-decoration: none;
    color: coral;
    font-style: italic;
}