* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#grid-layout {
    display: grid;
    grid-template-columns:  1fr 200px 600px 600px 1fr;
    grid-template-areas:
        ".nav nav nav."
        ".side main info.";
}
#header {
    /* background-color: aqua; */
    grid-area: nav;
    display: flex;
    align-items: center;
    margin-top: 16px;
}
#header #logo {
    margin: 0px 16px;
}
#search {
    flex-basis: 100%;
    border: 2px solid black;
    border-radius: 24px;

}
#header a {
    width: auto;
}
#sidebar {
    /* background-color: rgb(232, 50, 77); */
    grid-area: side;
    margin: 8px;
    border-radius: 16px;
}
#sidebar-photos {
    display:flex;
    align-items: center;
    flex-direction: column;
}
.sidebar-pic {
    width: 100px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 8px;
    border-radius: 8px;
}
.sidebar-pic:hover {
    border: 2px solid rgb(92, 92, 92);
}
#main-photo {
    /* background-color: rgb(27, 211, 70); */
    grid-area: main;
    margin:16px;
}
#main-photo img {
    width: 100%;
}
#seller-info {
    /* background-color: rgb(185, 192, 249); */
    grid-area: info;
    margin: 16px;
}
#seller-info h2 {
    padding-bottom: 8px;
    border-bottom: 2px solid rgb(120, 120, 120);
    margin:0px;

}
#seller-info p {
    margin: 12px 0px;
}
.seller-details {
    display: flex;
    border-bottom: 2px solid #787878;
    margin: 0px;

}
#seller-info h4 {
    margin: 12px 0px 4px 0px;
}
.seller-details p {
    padding: 0px 4px 0px 0px;
    margin: 0px,
}
.seller-details i {
    margin: 0px;
}

.seller-details p:hover {
    text-decoration: underline;
}
#seller-info #price {
    border-bottom: 2px solid #787878;
}

#search i {
    margin: 8px 12px;
}
#condition {
    display: flex;
    align-items: center;

}
#condition #con-2 {
    padding-left: 24px;
    font-weight: 800;
}
#condition i {
    padding-left: 12px;;
}
.buttons-1 {
    border: 2px solid rgb(35, 65, 236);
    border-radius: 32px;
    background-color: blue;
    color: white;
    margin: 8px 0px;
}
.buttons-1 h3 {
    margin: 0px;
    padding: 12px;
    text-align: center;
    font-size: 15px;
   
}
.buttons-2 {
    border: 2px solid #2341ec;
    border-radius: 32px;
    background-color: rgb(255, 255, 255);
    margin: 12px 0px;
    border-color:  #2341ec;
    color:#2341ec;

    
}
.buttons-2 h3 {
    margin: 0px;
    padding: 12px;
    text-align: center;
    font-size: 15px;

}
.buttons-1:hover {
    background-color: white;
    color:#2341ec
}
.buttons-2:hover {
    color: white;
    background-color:#2341ec
}
#logo:hover {
    opacity: 60%;
}
#search:hover {
    background-color: #dedede;
}
#sidebar:hover {
    background-color: #e9e7e7;
}