* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.center-column {
    width: 50%;
    min-width: 500px;
    text-align: center;
    margin: 0px auto;
    padding:24px;
    border: solid 8px #333333;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.bmx-gallery img{
    grid-auto-rows: 200px;
    object-fit: cover;
}